/* quiz-layout.module.css */
.parentContainer {
  width: 100%;
  max-height: auto; /* Limitamos la altura para dejar espacio a los botones */
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto; /* Solo si el contenido del ejercicio es REALMENTE largo */
  padding: 10px;
}

.gameContent {
  width: 95%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  border: none !important; /* Esto fuerza a que desaparezca cualquier línea */
}

.childrenContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.innerTitle {
  margin: 10px 0;
  color: white;
  text-transform: uppercase;
  font-size: 2.2rem; /* Un poco más pequeño para móviles */
  font-weight: 900;
  text-align: center;
  line-height: 1;
}
.innerDescription {
  color: white;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 400;
  opacity: 0.9;
  line-height: 1.4;
}
